<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01793817/blob/main/assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Módulo 4


4.1 Leer archivos en Python
Sentencia para abrir un archivo: file1 = open(parametro 1, parametro 2)

parámetro 1 =  ruta del archivo
parámetro 2 =  es el modo, los valores pueden ser:

r -> lectura
w -> escritura
a -> agregar

ejemplo file1 = open("\escritorio\prueba.cvs","w")

ejemplo#1:
with open("ejemplo.txt","r") as file1
    file_stuff = file1.read()
    print(file_stuff)
print(file1.closed)
print(file_stuff)


ejemplo#2:
with open("ejemplo.txt", "r") as File2
    file_stuff = File2.readlines()
    print(file_stuff)

ejemplo#3:
with open("Ejemplo3.txt","r") as File3
    for line in File3
    print(line)

ejemplo#4 - Leer por cantidad de posiciones:
with open("ejemplo4.txt","r") as File4
    file_stuff = File4.readlines(4) 
    print(file_stuff)   #Imprime las primeras cuatros posiciones

4.1 Escribir archivos en Python

sentencia: File1 = open("/resources/data/Tema4.txt","r")

directorio: /resources/data/
mode: r
objeto: File1

Escribir en un archivo ejem -> File1.write("Estas es una linea")
Escribir en un archivo ejem -> File1.write("Esta es la linea 1\n")
                               File1.write("Esta es la linea 2\n")
Escribir en un archivo a través de un ciclo for:

Ejem ->

Lines=["Esta es la linea A\n","Esta es la linea B\n"]
with open("/resource/data/prueba1.txt","w") as File1:
    for line in Lines
      File1.write(line)
Adjuntar una línea en un archivo:

Ejem ->

with open("/resource/data/prueba1.txt","a") as File1
    File1.write("Esto es la línea C")

Ejem Copiar lineas de un archivo a otro ->

with open("/resource/data/prueba1.txt","r") as readFile
    with open("/resource/data/prueba2.txt","w") as writeFile
        for line in readFile
          writeFile.write(line)

In [5]:
# Write line to file
exmp2 = 'Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A")

In [25]:
# Read file
with open(exmp2,'r') as readfile:
 print(readfile.read())

This is line A1
This is line B2
This is line C3

In [19]:
# Write line to file
with open(exmp2,'w') as writefile:
  writefile.write("Esta es la línea A\n")
  writefile.write("Esta es la línea B\n")

In [26]:
# Sample list of text

Lines = ["This is line Javier\n", "This is line Pedro\n", "This is line Juan\n"]
Lines

['This is line Javier\n', 'This is line Pedro\n', 'This is line Juan\n']

In [30]:
# Write the strings in the list to text file

with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        writefile.write(line)

In [33]:
with open('Example2.txt','r') as readfile:
  print(readfile.read())

Overwrite

In [32]:
with open('Example2.txt', 'w') as writefile:
    writefile.write("Overwrite\n")
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite

In [37]:
# Write a new line to text file
with open('Example2.txt','a') as attfile:
  attfile.write("Linea 1\n")
  attfile.write("Linea 2\n")
  attfile.write("linea 3\n")
with open('Example2.txt','r') as readfile:
  print(readfile.read())

Overwrite
Linea 1
Linea 2
linea 3
This is line E
This is line E
Linea 1
Linea 2
linea 3

In [38]:
with open('Example2.txt', 'a+') as testwritefile:
    testwritefile.write("This is line E\n")
    print(testwritefile.read())

In [39]:
with open('Example2.txt', 'a+') as testwritefile:
    print("Initial Location: {}".format(testwritefile.tell()))
    
    data = testwritefile.read()
    if (not data):  #empty strings return false in python
            print('Read nothing') 
    else: 
            print(testwritefile.read())
            
    testwritefile.seek(0,0) # move 0 bytes from beginning.
    
    print("\nNew Location : {}".format(testwritefile.tell()))
    data = testwritefile.read()
    if (not data): 
            print('Read nothing') 
    else: 
            print(data)
    
    print("Location after read: {}".format(testwritefile.tell()) )

Initial Location: 103
Read nothing

New Location : 0
Overwrite
Linea 1
Linea 2
linea 3
This is line E
This is line E
Linea 1
Linea 2
linea 3
This is line E

Location after read: 103

In [40]:
with open('Example2.txt', 'r+') as testwritefile:
    data = testwritefile.readlines()
    testwritefile.seek(0,0) #write at beginning of file
   
    testwritefile.write("Line 1" + "\n")
    testwritefile.write("Line 2" + "\n")
    testwritefile.write("Line 3" + "\n")
    testwritefile.write("finished\n")
    #Uncomment the line below
    #testwritefile.truncate()
    testwritefile.seek(0,0)
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished
a 3
This is line E
This is line E
Linea 1
Linea 2
linea 3
This is line E

In [41]:
# Copy file to another

with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

In [42]:
# Verify if the copy is successfully executed

with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished
a 3
This is line E
This is line E
Linea 1
Linea 2
linea 3
This is line E

In [ ]:
def cleanFiles(currentMem,exMem):
    with open(currentMem,'r+') as writeFile: 
        with open(exMem,'a+') as appendFile:
            #get the data
            writeFile.seek(0)
            members = writeFile.readlines()
            #remove header
            header = members[0]
            members.pop(0)
                
            inactive = [member for member in members if ('no' in member)]
            '''
            The above is the same as 

            for member in members:
            if 'no' in member:
                inactive.append(member)
            '''
            #go to the beginning of the write file
            writeFile.seek(0) 
            writeFile.write(header)
            for member in members:
                if (member in inactive):
                    appendFile.write(member)
                else:
                    writeFile.write(member)      
            writeFile.truncate()
                
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)

# code to help you see the files

headers = "Membership No  Date Joined  Active  \n"

with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Liberia Panda

Ejem -> import pandas

Cargar un archivo csv

Ejem ->
import pandas

csv_path="file.csv"
df=pandas.read_csv(csv_path)

Agregar alias al importa la libreria

Ejem ->
import pandas as pd

csv_path="file.csv"
df=pd.read_csv(csv_path)

Pasar un archivo csv a un Dataframes

Ejem ->

import pandas

csv_path="file.csv"
df=pd.read_csv(csv_path)
df.head()

Ejemplo

songs={'ALBUM':['Black in Black', 'Fear in dark'],'AÑO':[2000,1999],'TAMAÑO':['01:00:00','02:00,00']}

songs_frame = pd.DataFrame(songs)

Para obtener una columna
Ejem ->
x=df[['TAMAÑO']]

Ejemplos par acceder a los valores:

i: fila
x: columna
Nota arrancan en la posición 0

df.ix[0,0]:'Black in Black'
df.ix[1,0]:'Fear in dark'
df.ix[0,'AÑO']
z=df.ix[0:2,0:3]
z=df.ix[0:2,'ALBUM':'TAMAÑO']

In [1]:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

In [6]:
df['a']

0    11
1    21
2    31
Name: a, dtype: int64