<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01793817/blob/main/Modulo1-3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nombre: Javier Antonio Rodríguez Rudas
Matrícula: A01793817

MODULO 1

In [ ]:
print("Hello\nWorld!")

Hello
World!

In [ ]:
#print('Hello World!')

Find the type of the following using the type command: "Hello World"

In [ ]:
type("Hello World")

str

Find the type of the following using the <code>type</code> command: "1.1"

In [ ]:
type("1.1")

str

Cast the following to an int and then to a bool: "1"

In [ ]:
bool(int("1"))

True

¿Cuál es el tipo de lo siguiente: int(1.0)?

In [ ]:
int(1.0)

1

resp. Int

¿Introduzca el código para convertir el número 1 en un valor booleano?

In [ ]:
bool(1)

True

Say "Hello" to the world in Python

In [ ]:
print("Hello world")

Hello world

What version of Python are we using?

In [ ]:
import sys
print(sys.version)

3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]

Writing comments in Python

In [ ]:
# Practice on writing comments

print('Hello, Python!') # This line prints a string
# print('Hi')

Hello, Python!

Errors in Python

In [ ]:
# Print string as error message

frint("Hello, Python!")

NameError: ignored

In [ ]:
# Try to see built-in error message

print("Hello, Python!)

SyntaxError: ignored

In [ ]:
# Print string and error to see the running order

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: ignored

Exercise: Your First Program

In [ ]:
print("Hello, world!")

Hello, world!

In [ ]:
print("Hello, world!") # Print the traditional hello world

Hello, world!

# Write your code below. Don't forget to press Shift+Enter to execute the cell

In [ ]:
type(12.0)

float

What is the data type of the result of: 6 / 2?

In [ ]:
type(6/2) # float

float

What is the type of the result of: 6 // 2? (Note the double slash //.)

In [ ]:
type(6//2) # int, as the double slashes stand for integer division

int

Let's write an expression that calculates how many hours there are in 160 minutes:

In [ ]:
160/60 

# Or 

160//60

2

What is the value of x where x = 3 + 2 * 2

In [ ]:
7

7

What is the value of y where y = (3 + 2) * 2?

In [ ]:
10

10

What is the value of z where z = x + y?

In [ ]:
17

17

PREGUNTA 1
1 punto posible (no calificable)
Considere la siguiente cadena:

Numbers = "0123456"
¿Cómo obtendrías los elementos pares?

In [ ]:
Numbers = "0123456"
Numbers[::2]

'0246'

PREGUNTA 2
1 punto posible (no calificable)
¿Cuál es el resultado de la siguiente línea de código:

"0123456".find('1')

In [ ]:
"0123456".find('1')

1

Use slicing to find the first four elements of the following string:

In [ ]:
Letters="ABCDEFGHIJK"
Letters[0:4]

'ABCD'

Use a stride value of 2 on the following string :

In [ ]:
Good="GsoAo+d"
Good[::2]

'Good'

Convert the following string to uppercase using the method upper():

In [ ]:
"uppercase"
"uppercase".upper()

'UPPERCASE'

What is the value of the variable a after the following code is executed?
a = "1"

In [ ]:
"1"

'1'

What is the value of the variable b after the following code is executed?
b = "2"

In [ ]:
"2"

'2'

What is the value of the variable c after the following code is executed?

In [ ]:
"12"

'12'

Consider the variable d use slicing to print out the first three elements:
d = "ABCDEFG"

In [ ]:
d="ABCDEFG"
print(d[0:3])

ABC

Use a stride value of 2 to print out every second character of the string e:
e = 'clocrkr1e1c1t'

In [ ]:
e = 'clocrkr1e1c1t'
print(e[::2])

correct

Print out a backslash:

In [ ]:
print("\\\\\\")
print(r"\ ")

\\\
\

Convert the variable f to uppercase:
f = "You are wrong"

In [ ]:
 f = "You are wrong"
print(f.upper())

YOU ARE WRONG

Consider the variable g, and find the first index of the sub-string snow:
g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

In [ ]:
g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb Its fleece was white as snow And everywhere that Mary went Mary went, Mary went Everywhere that Mary went The lamb was sure to go"
print(g.find("snow"))

95

In the variable g, replace the sub-string Mary with Bob:
g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb Its fleece was white as snow And everywhere that Mary went Mary went, Mary went Everywhere that Mary went The lamb was sure to go"

In [ ]:
g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb Its fleece was white as snow And everywhere that Mary went Mary went, Mary went Everywhere that Mary went The lamb was sure to go"
print(g.replace("Mary","Bob"))

Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go

Pregunta de revisión 1

¿Cuál es el resultado de la siguiente operación en Python:

3 + 2 * 2

In [ ]:
7

7

Pregunta de revisión 2

En Python, si ejecutara name = 'Lizz', ¿cuál sería el resultado de print(name[0:2])?

In [ ]:
"Li"

'Li'

Pregunta de revisión 3

En Python, si ejecutaras var = '01234567', ¿cuál sería el resultado de print(var[::2])?

In [ ]:
var = '01234567'
print(var[::2])

0246

Pregunta de revisión 4

En Python, ¿cuál es el resultado de la siguiente operación '1'+'2'?

In [ ]:
"12"

'12'

Pregunta de revisión 5

Dado myvar = 'hello', ¿cómo convertirías myvara mayúsculas?

In [ ]:
myvar = 'hello'
print(myvar.upper())

HELLO

MODULO 2

PREGUNTA 1

¿Cómo se accede al último elemento de la siguiente tupla: A=(0,1,2,3)? Seleccione todas las posibles respuestas correctas.

In [ ]:
A=(0,1,2,3)
print(A[-1])

3

PREGUNTA 2

Considere la lista: B=["a","b","c"].

¿Cuál es el resultado de lo siguiente B[1:]?

In [ ]:
B=["a","b","c"]
print(B[1:])

['b', 'c']

Find the length of the tuple, genres_tuple:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \"R&B", "progressive rock", "disco")

In [ ]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", "R&B", "progressive rock", "disco")

print(len(genres_tuple))

8

Access the element, with respect to index 3: 
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", "R&B", "progressive rock", "disco")

In [ ]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", "R&B", "progressive rock", "disco")
print(genres_tuple[3])

hard rock

Find the first two elements of the tuple genres_tuple:  genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", "R&B", "progressive rock", "disco")

In [ ]:
 genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", "R&B", "progressive rock", "disco")
 print(genres_tuple[0:2])

('pop', 'rock')

Find the first index of "disco": genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", "R&B", "progressive rock", "disco")

In [ ]:
print(genres_tuple.index("disco"))

7

Generate a sorted List from the Tuple C_tuple=(-5, 1, -3):

In [ ]:
C_tuple = (-5, 1, -3)
C_list = sorted(C_tuple)
C_list

[-5, -3, 1]

Create a list a_list, with the following elements 1, hello, [1,2,3] and True.

In [ ]:
a_list = [1, 'hello', [1, 2, 3] , True]
print(a_list)

[1, 'hello', [1, 2, 3], True]

Find the value stored at index 1 of a_list.

In [ ]:
print(a_list[1])

hello

Retrieve the elements stored at index 1, 2 and 3 of a_list.

In [ ]:
print(a_list[1:4])

['hello', [1, 2, 3], True]

Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']:

In [ ]:
A = [1, 'a'] 
B = [2, 1, 'd']

print(A + B)

[1, 'a', 2, 1, 'd']

PREGUNTA 1

¿Cuál es el resultado de las siguientes líneas de código:

S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

In [ ]:
S={'A','B','C'}

U={'A','Z','C'}

U.union(S)
print(U.union(S))

{'Z', 'C', 'B', 'A'}

PREGUNTA 2

¿Cuál es la intersección de conjunto Sy U?

S={'A','B','C'}

U={'A','Z','C'}

In [ ]:
S={'A','B','C'}

U={'A','Z','C'}
print(U)
U= set(S)
print(U)

{'Z', 'A', 'C'}
{'C', 'B', 'A'}

Cast the following list to a set: ['A','B','C','A','B','C']

In [ ]:
set(['A','B','C','A','B','C'])

{'A', 'B', 'C'}

Add the string 'D' to the set S.
S={'A','B','C'}

In [ ]:
S={'A','B','C'}
S.add("D")
print(S)

{'C', 'B', 'A', 'D'}

Find the intersection of set A and B.

A={1,2,3,4,5}
B={1,3,9, 12}

A.intersection(B)

Convert the list ['rap','house','electronic music', 'rap'] to a set:

In [ ]:
set(['rap','house','electronic music','rap'])

{'electronic music', 'house', 'rap'}

Consider the list A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1]), does sum(A) == sum(B)?

In [ ]:
A = [1, 2, 2, 1]  
B = set([1, 2, 2, 1])
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))

the sum of A is: 6
the sum of B is: 3

Create a new set album_set3 that is the union of album_set1 and album_set2:

In [ ]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
print(album_set2)

{'The Dark Side of the Moon', 'Back in Black', 'AC/DC'}

PREGUNTA 1

Considere el siguiente diccionario:

D = {'a':0,'b':1,'c':2}

¿Cuál es el resultado de lo siguiente: D.values()?

dict_values([0, 1, 2])

PREGUNTA 2

Considere el siguiente diccionario:

D = {'a':0,'b':1,'c':2}
¿Cuál es el resultado de lo siguiente D['b']?

resp. 1

# Question sample dictionary

soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic 

a) In the dictionary soundtrack_dic what are the keys?

resp. soundtrack_dic.keys()

In the dictionary soundtrack_dic what are the values ?

resp. soundtrack_dic.values()

The Albums Back in Black, The Bodyguard and Thriller have the following music recording sales in millions 50, 50 and 65 respectively:

a) Create a dictionary album_sales_dict where the keys are the album name and the sales in millions are the values.

resp. album_sales_dict = {"The Bodyguard":50, "Back in Black":50, "Thriller":65}

resp. album_sales_dict = {"The Bodyguard":50, "Back in Black":50, "Thriller":65}

b) Use the dictionary to find the total sales of Thriller:

resp. album_sales_dict["Thriller"]

c) Find the names of the albums from the dictionary using the method keys():

resp. album_sales_dict.keys()

d) Find the values of the recording sales from the dictionary using the method values:

resp. album_sales_dict.values()

Question 1

What is the syntax used to obtain the first element of the tuple:

A = ('a','b','c')

resp. A[0]

Question 2

After applying the following method, L.append(['a','b']), the following list will only be one element longer.

resp. True

Pregunta 3

¿Cuántos elementos duplicados puedes tener en un conjunto?

resp. 0. You can only have one unique element in a set.

Pregunta 4

Considere el siguiente diccionario de Python:

Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}

¿Cuál es el resultado de la siguiente operación: Dict["D"]?

resp. (4, 4, 4)

Pregunta 5

¿Cuál es una diferencia importante entre listas y tuplas?

resp. Lists are mutable, tuples are not.

MODULO 3

Find the value of i that produces a True:

i=
i!=0

resp. i = 1

x = 
if(x=='a'):
    print("this is a")
else:
    print("this is  not a")


resp. x = 'a'

Find the value of y that produces a True statement:

y=
x=1
x>0 and y<10

resp.  y = 0

QUESTION 1

Select the values of i that produces a True for the following:

i!=0

resp. i=1, -1 y 100000000

PREGUNTA 2

¿Cuál es la salida de lo siguiente:

x='a'

if(x!='a'):

print("This is not a.")

else:

print("This is a.")

resp. "This is a."

Write an if statement to determine if an album had a rating greater than 8. Test it using the rating for the album “Back in Black” that had a rating of 8.5. If the statement is true print "This album is Amazing!"

In [ ]:
rating = 8.5
if rating > 8:
  print("This album is Amazing!")

This album is Amazing!

Write an if-else statement that performs the following. If the rating is larger then eight print “this album is amazing”. If the rating is less than or equal to 8 print “this album is ok”.

In [ ]:
rating = 8.5
if rating > 8:
    print ("this album is amazing")
else:
    print ("this album is ok")

this album is amazing

Write an if statement to determine if an album came out before 1980 or in the years: 1991 or 1993. If the condition is true print out the year the album came out.

In [ ]:
album_year = 1979

if album_year < 1980 or album_year == 1991 or album_year == 1993:
    print("This album came out in year", album_year)

This album came out in year 1979

QUESTION 1

What is the output of the following lines of code:

A=[3,4,5]

for a in A:

print(a)

resp. a=1,2,3

QUESTION 2

What is the output of the following lines of code:

x=3

y=1

while(y!=x):

print(y)

y=y+1

resp. y=1,2

Write a for loop the prints out all the element between -5 and 5 using the range function.

In [ ]:
for i in range(-4,5)
print(i)

Print the elements of the following list: Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop'] Make sure you follow Python conventions.

In [ ]:
Genres = ['rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for Genre in Genres:
    print(Genre)

rock
R&B
Soundtrack
R&B
soul
pop

Write a for loop that prints out the following list: squares=['red', 'yellow', 'green', 'purple', 'blue']

In [ ]:
squares=['red', 'yellow', 'green', 'purple', 'blue']
for square in squares:
    print(square)

red
yellow
green
purple
blue

Write a while loop to display the values of the Rating of an album playlist stored in the list PlayListRatings. If the score is less than 6, exit the loop. The list PlayListRatings is given by: PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

In [ ]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
Rating = PlayListRatings[0]
while(i < len(PlayListRatings) and Rating >= 6):
    print(Rating)
    i = i + 1 # This prints the value 10 only once 
    Rating = PlayListRatings[i]
    i = i + 1 #Try uncommenting the line and comment the previous i = i + 1, and see the difference, 10 value will get printed twice because when the loop starts it will print Rating and then with PlayListRatings[0], it will again assign the value 10 to Ratings.

10
9.5
8

Write a while loop to copy the strings 'orange' of the list squares to the list new_squares. Stop and exit the loop if the value on the list is not 'orange':

In [ ]:
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i = 0
while(i < len(squares) and squares[i] == 'orange'):
    new_squares.append(squares[i])
    i = i + 1
print (new_squares)

['orange', 'orange']

QUESTION 1

What is the value of c after the following block of code is run ?

a=1

def add(b):

return a+b

c=add(10)

resp. 11

QUESTION 2

What is the value of c after the following block of code is run with proper numerical input?

def f(*x):

return sum(x)

resp. Return the total of a variable amount of parameters.

Complete the function  f  so that it returns the product of a and b. Use the next cell to test the function.

def f(a,b):
    
    return a*b


def f(a,b):
    
    return a*b

Complete the function g such that the input c is a list of integers and the output is the sum of all the elements in the list.

def g(c):

    return


def g(c):

    return sum(c)

Come up with a function that divides the first input by the second input:

In [ ]:
def div(a, b):
    return(a/b)

Use the function con for the following question.

In [ ]:
def con(a, b):
    return(a + b)

Can the con function we defined before be used to add two integers or strings?

In [ ]:
Yes, for example: 
con(2, 2)

Can the con function we defined before be used to concatenate lists or tuples?

In [ ]:
Yes, for example: 
con(['a', 1], ['b', 1])

PREGUNTA 1

Usando Class Car en el laboratorio, cree un objeto Car con los siguientes atributos:

make="Honda"

model="Accord"

color="blue"

resp. Coche (modelo = "Acuerdo", marca = "Honda", color = "azul")

QUESTION 2

From the lab, how would you change the data attribute owner_number ?


resp. Utilising the method sell().

Create a  Car  object "my_car" with the given data attributes:

make="BMW"
model="M3"
color="red"

resp. my_car = Car(make,model,color)

Use the method car_info() to print out the data attributes.

resp. my_car.car_info()

Call the method  sell()  in the loop, then call the method  car_info() again

for i in range(5):

resp. 

for i in range(5):
    my_car.sell()

my_car.car_info()

Question 1
1 punto posible (calificable)
What is the output of the following lines of code:

x=1

if(x!=1):

print('Hello')

else:

print('Hi')

print('Mike')

resp. Hi Mike

Question 2

What is the output of the following few lines of code?

A = ['1','2','3']

for a in A:

print(2*a)

resp. 2 4 6

Question 3

Consider the function Delta, when will the function return a value of 1

def Delta(x):

if x==0:

y=1;

else:

y=0;

return(y)

resp. When the input is 0.

What is the correct way to sort the list 'B' using a method? The result should not return a new list, just change the list 'B'.

resp. B.sort()

What are the keys of the following dictionary: {'a':1,'b':2}?

resp. a,b